* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  min-height: 100vh;
  background-color: #dfdddd;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card {
  position: relative;
  width: 300px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.4),
  inset 300px 0 50px rgba(0, 0, 0, 0.4);
  transform: perspective(2000px) rotateZ(0); 
  transform-style: preserve-3d;
  transition: all 1s ease;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: all 1s ease-in;
  z-index: 2;
}

.cover img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
}

.cover img:nth-child(2) {
  transform: rotate(180deg);
}

.card:hover {
  transform: perspective(2000px) rotateZ(-10deg);
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.4),
    inset 20px 0 50px rgba(0, 0, 0, 0.4);
}

.card:hover .cover {
  transform: rotateY(-135deg);   
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background: #fff;
  backface-visibility: hidden;
  visibility: hidden;
  z-index: 1;
}


.page-one {
  transform: rotateY(0deg);
  transition: transform 0.5s ease-in-out;
}

.page-two {
  transform: rotateY(180deg);
  transition: transform 0.5s ease-in-out;
}

.card.flipped .page-one {
  transform-origin: center left;
  transform: rotateY(-180deg);
  visibility: visible;
}

.card.flipped .page-two {
  transform: rotateY(0deg);
  visibility: visible;
}

.content h2 {
  margin-bottom: 1rem;
}